<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SuccessRegister</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
        
        h1 {
            text-align: center;
        }
        
        a {
            text-decoration: none;
            color: #4d84e2;
        }
        
        a:hover {
            text-decoration: underline 3px #4d84e2;
        }
    </style>
</head>

<body>
    <h1>Sucesso, você se registrou... Agora faça login <a href="indexLogin">Clicando aqui</a></h1>
</body>

</html>